#ValLore{
    font-family: 'VALORANT', sans-serif;
    font-size: 50px;
    color: #fa4454;
    position: absolute;
    /* left: -100px; */
}
#names{
    /* width: 350px;
    height: 600px;
    overflow-y: auto;
    background-color:aquamarine; */
    display: flex;
    text-align: center;
    /* flex-wrap: wrap; */
    display:block;
    width: 1500px;
    left: 50%;
    transform: translate(15%);
}

#description{
    font-family: 'VALORANT', sans-serif;
    color:aliceblue;
    /* position:fixed; */
    /* overflow: hidden; */
    /* max-width: 1000px; */
    width:960px;
    left: 50%;
    text-align: center;
    transform: translate(50%);
}

button{
    font-family: 'VALORANT', sans-serif;
    font-size: 25px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    text-align: center;

}

#fullAgentImage{
    /* height: 900px; */
    position: absolute; 
    top: 220px; 
    left: 1250px;
    overflow:visible;
    /* border:1px solid rgb(255, 0, 0); */
    /* margin-right: 300px; */
    width:30%;
}

.fullAgentImage-active{
    animation: fly .2s linear 1;
}

@keyframes fly{
    0%{
        transform: translate(170px);
    }

}

#agentPic{
    height: 700px; /*dimensions*/
    position: absolute;
    /* top: 0px;
    left: -0px; */

    /* animation: fly 5s linear infinite; */

}

#agentBackground{
    height: 700px; /*dimensions*/
    /* position:absolute; */
    z-index: -99;
}


body{
    background-color: black;
    color:aliceblue;
    /* border: 1px solid orange; */
    overflow-x: hidden;
    /* font-family: 'VALORANT', sans-serif; */
}



#leftDisplay{ 
    
    position:relative;

    z-index: 5;
    border: 1px solid rgb(0, 0, 0);
    margin: 1rem;
    padding: 2rem 2rem;
  
    
}

.roleAbilityImageClass{

    position: absolute;
    width: 80px;
}


.roleAbilityNameClass{
    /* padding-bottom: 600px; */
    font-family: 'VALORANT', sans-serif;
    font-size: 30px;
    width: 500px;
    position: relative;
    left: 100px;
    /* border: 1px solid greenyellow; */
    z-index: 50;
    top: 0px;
}


.roleAbilityDescriptionClass{
    width: 1100px;
    font-family: 'VALORANT', sans-serif;

    /* border:1px solid rgb(255, 0, 221); */
    left: 100px;
    /* font-size: 10px; */
    position: relative;
    top: 0px;
    
}

.ability{
    padding-top: 10px;
    padding-bottom: 10px;
}


p{
    margin-block-start: 5px;
    margin-block-end: 5px;
}